* {
  font-family: Tahoma, sans-serif;
}
html,
body {
  overflow-x: hidden;
}
main {
  margin: 2rem 0.2rem;
  padding-bottom: 1rem;
  background-color: #e2e8f0;
  border-radius: 4px;
  box-sizing: border-box;
}

h1 {
  text-align: center;
  padding: 3rem;
  margin-bottom: -3rem;
}

h3 {
  text-align: center;
}

figure {
  background-color: white;
  padding: 5rem 1rem;
  margin: 0 auto;
  width: 96%;
  border-radius: 4px;
}
figcaption {
  text-align: center;
}

img {
  margin: 0 auto;
  width: 600px;
  display: block;
  max-width: 100%;
  border-radius: 4px;
}

p {
  /* text-align: center;
  margin: 0 auto;
  display: block; */
  text-align: center;
  margin: 1rem auto;
  max-width: 90%;
}

ul {
  width: 500px;
  max-width: 100%;
  margin: 2rem auto;
  padding-left: 0;
}

li {
  margin: 2rem auto;
  max-width: 80%;
}

.elogio {
  width: 600px;
  max-width: 90%;
  margin: 2rem auto;
}

.tribute-info {
  max-width: 90%;
}

i {
  width: 100%;
}

@media (max-width: 735px) {
  .elogio {
  }
}
